{% extends "index.html" %}
{% block content %}
<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h3>Gestione passaggio sottoassiemi e componenti in area prelievo</h3>
    <hr>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% block form %}
    {% endblock %}
</div>
{% endblock %}