{% extends "main_content.html" %}
{% block title %}GAP - Lista Lotti{% endblock %}
{% block page_title %}<h4>Lista Lotti</h4>{% endblock %}
{% block content %}
<div class="btn-toolbar mb-2 mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="input-group mr-2">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
            </div>
            <input type="text" name="lot_number__contains" placeholder="Cerca lotto..." class="form-control"
                hx-get="{% url 'lot_list' %}" 
                hx-include="[name='supplier_type']" 
                hx-trigger="keyup changed delay:0.5s"
                hx-target="#inspections-results" hx-push-url="false">
            <div class="input-group-append">
                <button id="search-lot" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-right" id="inspections-results">
                    <h6 class="dropdown-header">Nessun risultato.</h6>
                </div>
            </div>
        </div>
        <div class="btn-group mr-2" role="group">
            <select name="supplier_type" class="form-control" id="id_supplier_type">
                <option value="fn"></option>
                <option value="tz">TZ</option>
                <option value="sclpun">SCL/pun</option>
                <option value="int_pr">Produzione interna</option>
                <option value="t">T</option>
                <option value="r">R</option>
                <option value="QPS">QPS</option>
            </select>
        </div>
        <div class="btn-group" role="group" aria-label="First group">
            <a class="btn btn-secondary" href="{% url 'lot_create' %}" role="button">
                <i class="bi bi-plus-lg"></i> Aggiungi</a>
        </div>
</div>
{% if results %}
{% include "pagination.html" %}
<div class="table-responsive">
    <table class="table table-hover">
        <caption>Lista Lotti</caption>
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nr. Lotto</th>
                <th>Data consegna</th>
            </tr>
        </thead>
        <tbody>
        {% for lot in results %}
            <tr>
                <td>{{ forloop.counter }}</td>  <!-- -->
                <td><a href="{% url 'lot_retrieveupdate' lot.id %}">{{ lot.lot_display }}</a></td>
                <td>{{ lot.lot_date_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="lead text-center">Nessun lotto presente.</p>
{% endif %}
<p class="text-italic text-muted">
    Totale Lotti: {{ count }}
</p>
{% endblock %}