{% extends "main_content.html" %}
{% block title %}GAP - Crea nuovo lotto{% endblock %}
{% block content %}
<div class="card mb-3">
    <h5 class="card-header">Crea nuovo lotto</h5>
    <div class="card-body">
        <form id="update-form" method="POST">{% csrf_token %}
            <div class="form-row">
                <div class="form-group {% if field.errors %}has-error{% endif %} col-md-6">
                    {{ form.lot_number.label_tag }}
                    {{ form.lot_number }}
                    <span class="help-block">
                    {{ form.lot_number.errors|escape }}</span>
                </div>
                <div class="form-group {% if field.errors %}has-error{% endif %} col-md-6">
                    {{ form.supplier_type.label_tag}}
                    {{ form.supplier_type }}
                    <span class="help-block">
                    {{ form.supplier_type.errors|escape }}</span>
                </div>
            </div>
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ form.lot_date.label_tag }}
                {{ form.lot_date }}
                <span class="help-block">
                    {{ field.errors|escape }}
                </span>
            </div>
            <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-save"></i>  Registra</button>
        </form>
    </div>
</div>
{% endblock %}