{% extends "index.html" %}
{% block title %}GAP - Lista Ordini Cliente{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
    <h3>Lista Ordini Cliente</h3>
    <div class="btn-toolbar mb-2 mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-secondary" href="{% url 'admin:orders_order_add' %}" role="button">
            <i class="bi bi-plus-lg"></i> Aggiungi</a>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="labelSearch"><i class="bi bi-search"></i></div>
            </div>
            <select id="selectOrderSearch" class="custom-select" style="width: 200px;"
                aria-label="Cerca COC..." aria-describedby="labelSearch"
                data-ajax--url="{% url 'order-list' %}"></select>
        </div>
    </div>
    {% if results %}
    {% include "pagination.html" %}
    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <caption>Lista ordini cliente - archivio</caption>
            <thead>
                <tr>
                    <th>Nr. COC</th>
                    <th>Cliente</th>
                    <th>Data ordine</th>
                    <th>Data di consegna</th>
                </tr>
            </thead>
            <tbody>
                {% for o in results %}
                <tr>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm" href="{% url 'order-detail' o.id %}" role="button">
                            {{ o.coc }}
                        </a>
                    </td>
                    <td>{{ o.customer_display }}</td>
                    <td>{{ o.orderdate }}</td>
                    <td>{{ o.shipdate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="lead">Nessun ordine cliente registrato.</p>
    {% endif %}
        <p>
            Totale Ordini: {{ count }}
        </p>
    </div>
</div>
{% endblock content %}
{% block page_script %}
<script>
$(function() {
    var selectOrderSearch = $( "#selectOrderSearch" );

    selectOrderSearch.select2({
        placeholder: 'Cerca COC...',
        theme: "bootstrap4",
        minimumInputLength: 1,
        ajax: {
            dataType: 'json',
            data: function (params) {
                var query = {
                search: params.term
                }
                return query;
            },
            processResults: function(data) {
                return {
                    results: $.map(data.results, function(obj) {
                        return {
                            id: obj.id,
                            text: obj.coc + ' - ' + obj.orderdate
                        };
                    })
                };
            }
        }
    });

    selectOrderSearch.on('select2:select', function (e) { 
        const searchObj = $(this).find(':selected');
        var searchUrl = searchObj[0].baseURI + searchObj[0].value;
        history.pushState(e.params.data, 'title', searchUrl);
        history.go(0);
    });
});
</script>
{% endblock %}
