{% extends "index.html" %}
{% load static %}
{% block title %}GAP - Prodotto Finito Richiesto{% endblock %}
{% block content %}
<div class="row">
<div class="col">
<h3>Totale Prodotto Finito Richiesto <small>Suddiviso per settimana</small></h3>
<div class="btn-group d-print-none mt-3 mb-3" role="group">
    <a href="{% url 'order-requested'%}?status=planned" role="button"
        class="btn btn-outline-secondary">In programma</a>
    <a href="{% url 'order-requested'%}?status=released" role="button"
        class="btn btn-outline-secondary">In produzione</a>
    <a href="{% url 'order-requested'%}?status=open" role="button"
        class="btn btn-outline-secondary">Inevaso</a>
</div>
{% if results %}
<div class="input-group mb-3 w-50">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Cerca:</span>
    </div>
    <input type="search" id="partnumber-search" name="partnumber-search" class="form-control" placeholder="Codice ..." aria-label="Partnumber" aria-describedby="basic-addon1">
</div>
{% for o in results %}
<h5 class="text-center mt-4">S{% for k in o.keys %}{{ k }}{% endfor %}<small> Prodotto finito richiesto</small></h5>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Quantità totale</th>
        </tr>
    </thead>
    <tbody>
        {% for q in o.values %}
            {% for p in q %}
            <tr data-partnumber="{{ p.partnumber__sku }}">
                <td><a href="{% url 'partnumber-detail' p.partnumber %}">{{ p.partnumber__sku }}</a></td>
                <td>{{ p.total }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% else %}
<p class="lead">Nessun ordine cliente registrato.</p>
{% endif %}
</div>
</div>
{% endblock %}
{% block page_script %}
<script src="{% static 'js/requested.js' %}"></script>
{% endblock %}
