{% extends "index.html" %}
{% block title %}GAP - Lista Ordini Cliente{% endblock %}
{% block content %}
<div class="col-xs-12 col-md-10 col-md-offset-1">
    <h3>Lista Ordini Cliente <small>Suddivisa per settimana</small></h3>
    <hr>
    <div id="orderitem-list"></div>
</div>
{% endblock %}
{% block page_script %}
<script>
$(function() {
    const status_display = {
        'planned': 'In Programma',
        'released': 'In Produzione',
        'closed': 'Evaso',
        'deleted': 'Annullato'
    };

    $.ajax({
        url: '{% url 'api_order_list' %}',
    }).done(function( data ) {
        var htmlStr = '';

        if (arrayIsEmpty(data)) {
            htmlStr = '<h4>Nessun ordine cliente trovato.</h4>';
        } else {
            data.forEach(function(weeks) {
                const keys = Object.keys(weeks);

                // iterate over object
                keys.forEach((key, index) => {

                    htmlStr += html`
                        <div class="panel panel-default">
                        <div class="panel-heading">${key}</div>
                        <div class="panel-body"><p>COC con data di consegna nella S${key}</p></div>
                        <table class="table"><thead><tr>
                            <th>COC</th>
                            <th>Cliente</th>
                            <th>Codice</th>
                            <th>Quantità</th>
                            <th>Stato Produzione</th>
                        </tr></thead><tbody>`
                
                    weeks[key].forEach(function(el) {
                        const statusChanged = new Date(el.status_changed).toLocaleDateString();
                        const getStatusDisplay = status_display[el.status];

                        htmlStr += html`
                        <tr>
                            <td>${el.coc__coc}</td>
                            <td>${el.coc__customer__name}</td>
                            <td>${el.partnumber__sku}</td>
                            <td>${el.quantity}</td>
                            <td>${getStatusDisplay}</td>
                        </tr>
                        `
                    });

                    htmlStr += '</tbody></table></div>';
                        
                });
            });
        }

        $('#orderitem-list').html(htmlStr);
    });
});
</script>
{% endblock %}
