{% extends "index.html" %}
{% block title %}GAP - Lista Ordini Cliente{% endblock %}
{% block content %}
<div class="col-xs-12 col-md-10 col-md-offset-1">
<h3>Lista Ordini Cliente</h3>
<hr>
{% if orders %}
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <span class="step-links">
            <div class="btn-group" role="group" aria-label="...">
            {% if page_obj.has_previous %}
                <a class="btn btn-default" href="?page=1">
                    <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
                </a>
                <a class="btn btn-default" href="?page={{ page_obj.previous_page_number }}">
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                </a>
            {% endif %}
            {% if page_obj.has_next %}
                <a class="btn btn-default" href="?page={{ page_obj.next_page_number }}">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </a>
                <a class="btn btn-default" href="?page={{ page_obj.paginator.num_pages }}">
                    <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
                </a>
            {% endif %}
            </div>
        </span>
    </div>
    <div class="col-xs-12 col-sm-6"></div>
</div>

<table class="table table-striped table-hover table-bordered">
    <caption>Lista ordini cliente - archivio</caption>
    <thead>
        <tr>
            <th>Nr. COC</th>
            <th>Cliente</th>
            <th>Data ordine</th>
            <th>Data di consegna</th>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
        <tr>
            <td><a href="{% url 'order_detail' o.id %}">
                {{ o.coc }}</a></td>
            <td>{{ o.customer }}</td>
            <td>{{ o.orderdate|date }}</td>
            <td>{{ o.shipdate|date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Nessun ordine cliente registrato.</p>
{% endif %}
    <div class="well well-sm">
        Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
    </div>
</div>
{% endblock %}
