{% extends "index.html" %}
{% block title %}GAP - Prodotto Finito Richiesto{% endblock %}
{% block content %}
<div class="col-xs-12 col-md-10 col-md-offset-1">
    <h3>Totale Prodotto Finito Richiesto <small>Suddiviso per settimana</small></h3>
    <hr>
    <div id="orderitem-list"></div>
</div>
{% endblock %}
{% block page_script %}
<script>
$(function() {

    $.ajax({
        url: "{% url 'api_order_list' %}",
    }).done(function( data ) {
        var htmlStr = '';

        if (arrayIsEmpty(data)) {
            htmlStr = '<h4>Nessun ordine cliente trovato.</h4>';
        } else {
            data.forEach(function(weeks) {
                const keys = Object.keys(weeks);

                // iterate over object
                keys.forEach((key, index) => {

                    htmlStr += html`
                        <div class="panel panel-default">
                        <div class="panel-heading">${key}</div>
                        <div class="panel-body"><p>Prodotto finito richiesto nella S${key}</p></div>
                        <table class="table"><thead><tr>
                            <th>Codice</th>
                            <th>Quantità totale</th>
                        </tr></thead><tbody>`
                
                    weeks[key].forEach(function(el) {
                        htmlStr += html`
                        <tr>
                            <td>${el.partnumber__sku}</td>
                            <td>${el.total}</td>
                        </tr>
                        `
                    });

                    htmlStr += '</tbody></table></div>';
                        
                });
            });
        }

        $('#orderitem-list').html(htmlStr);
    });
});
</script>
{% endblock %}
