{% extends "index.html" %}
{% block title %}GAP - Dettaglio COC {{ object.coc }}{% endblock %}
{% block content %}
<div class="col-xs-12 col-md-10 col-md-offset-1">
    <!-- Table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="cellreport"><h3><b>ITALCLEM S.r.l.</b></h3></td>
                <td style="text-align: center; width: 30%;"><br></td>
                <td style="text-align: center; width: 30%"><h3><b>COC</b></h3></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NOME CLIENTE:<br>
                    <span class="pull-right"><h4>{{ object.customer }}</h4></span>
                </td>
                <td>Nr. Progressivo e data ordine:<br>
                    <span class="pull-right">
                        <h5><b><a href="{% url 'admin:orders_order_change' object.id %}">
                            {{ object.coc }} - {{ object.orderdate|date }}</a></b></h5>
                    </span></td>
                <td>Data di consegna:<br>
                    <span class="pull-right">{{ object.shipdate|date }}</span></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Codice</th>
                <th>Quantità</th>
                <th>Stato</th>
                <th>Data </th>
            </tr>
        </thead>
        <tbody>
            {% for i in items %}
            <tr>
                <td>{{ i.partnumber.sku }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.get_status_display }}</td>
                <td>{{ i.status_changed|date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
