{% extends "index.html" %}
{% block title %}GAP - Lista Codici{% endblock %}
{% block content %}
<div class="row">
<div class="col">
<h3>Lista codici</h3>
<a class="btn btn-secondary" href="{% url 'partnumber_create' %}" role="button">
    <i class="bi bi-plus-lg"></i> Aggiungi</a>
{% if results %}
{% include "pagination.html" %}
<div class="table-responsive">
    <table class="table table-hover table-bordered table-sm">
        <caption>Lista codici</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Unità stock</th>
                <th>P.M.U. (g)</th>
                <th>Data modifica</th>
            </tr>
        </thead>
        <tbody>
        {% for p in results %}
            <tr>
                <td>{% if p.db_nr >= 0%}{{ p.db_nr }}{% endif %}</td>
                <td>
                        <a class="btn btn-outline-secondary btn-sm"
                            href="{% url 'partnumber-detail' p.id %}" role="button">
                            {{ p.sku }}
                        </a>
                </td>
                <td>{{ p.description }}</td>
                <td>{{ p.get_unit_display }}</td>
                <td>{% if p.pmu %}{{ p.pmu }}{% endif %}</td>
                <td>{{ p.modified }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Nessun codice presente.</p>
{% endif %}
    <p>
        Totale Codici: {{ count }}
    </p>
</div>
</div>
{% endblock %}