{% extends "index.html" %}
{% block content %}
<div class="row">
<div class="col">
        <div class="btn-group mb-3 d-print-none" role="group">
            <a href="{% url 'partnumber-list' %}" class="btn btn-outline-secondary"> 
                <i class="bi bi-arrow-left"></i>
                Codici</a>
            {% if user.is_staff %}
                {% if object %}
                <button type="button" class="btn btn-warning" 
                    data-form-url="{% url 'partnumber_update' object.id %}" 
                    data-toggle="modal" 
                    data-target="#updatePartnumber">Modifica</button>
                {% endif %}
            {% endif %}
        </div>
        <div class="modal fade" id="updatePartnumber" tabindex="-1" role="dialog" aria-labelledby="updatePartnumberLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updatePartnumberLabel">Modifica codice: {{ object.sku }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    <div class="modal-body">
                        <!-- form -->
                    </div>
                    <div class="modal-footer">
                        Creato: {{ object.created|date }} | Modificato: {{ object.modified|date }}
                    </div>
                </div>
            </div>
        </div>
    {% block form %}
    {% endblock form %}
</div>
</div>
{% endblock %}
{% block page_script %}
<script>
$(function() {
    $('#updatePartnumber').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var formUrl = button.data('form-url'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        $.get(formUrl, function( ev ){
            console.log(ev);
        }).done(function( form ) {
            modal.find('.modal-body').html(form);
        }).fail(function( err ) {
            console.log(err);
        });
    });
});
</script>
{% endblock %}
