{% extends "partnumbers/base_form.html" %}
{% block title %}GAP - Aggiorna {{ object }}{% endblock %}
{% block form %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3 class="panel-title">Dettaglio</h3></div>
        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codice</th>
                    <th>Descrizione</th>
                    <th>Unità stock</th>
                    <th>P.M.U. (g)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.db_nr }}</td>
                    <td>{{ object.sku }}</td>
                    <td>{{ object.description }}</td>
                    <td>{{ object.get_unit_display }}</td>
                    <td>{{ object.pmu }}</td>
                </tr>
            </tbody>
        </table>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-warning btn-sm" data-toggle="collapse"
                        data-target="#frmUpdate" aria-expanded="false" 
                        aria-controls="frmUpdate">Modifica</button>
                    <a href="{% url 'picking_create_pn' object.id %}" class="btn btn-default btn-sm">
                        Aggiungi movimento...</a>
                </div>
            </li>
        </ul>
        <div class="panel-footer">Creato: {{ object.created|date }} | Modificato:
        {{ object.modified|date }}
        </div>
    </div>

    <div id="frmUpdate" class="panel panel-warning collapse">
        <div class="panel-heading">
            <h3 class="panel-title">Modifica</h3></div>
        <div class="panel-body">
            <form action="{% url 'partnumber_update' object.id %}" method="POST">{% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    <span class="help-block">
                        {{ field.errors|escape }}
                    </span>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Registra</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block page_script %}{% endblock %}