{% extends "partnumbers/base_form.html" %}
{% block title %}GAP - Aggiorna {{ object }}{% endblock %}
{% block form %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3 class="panel-title">Dettaglio {{ object.sku }}</h3></div>
        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codice</th>
                    <th>Descrizione</th>
                    <th>Unità stock</th>
                    <th>P.M.U. (g)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.db_nr }}</td>
                    <td>{{ object.sku }}</td>
                    <td>{{ object.description }}</td>
                    <td>{{ object.get_unit_display }}</td>
                    <td>{{ object.pmu }}</td>
                </tr>
            </tbody>
        </table>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'picking_create_pn' object.id %}" class="btn btn-default btn-sm">
                    Aggiungi movimento...</a>
                <button id="getOrders" class="btn btn-default btn-sm">
                    Ordini Cliente</button>
                </div>
            </li>
        </ul>
        <div class="panel-footer">{{ object.category }} | Modificato:
        {{ object.modified|date }}
        </div>
    </div>

    <div id="tableOrders" class="panel panel-default"></div>

    <template id="ordersTable">
        <table class="table">
            <thead>
                <tr>
                    <th>COC nr.</th>
                    <th>Cliente</th>
                    <th>Stato di produzione</th>
                    <th>Quantità</th>
                    <th>Data di consegna</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </template>

    <template id="orderRow">
        <tr>
            <td><a href="#"></a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </template>
</div>
{% endblock %}
{% block page_script %}
<script>
$(function() {
    var getOrders = $( "#getOrders" );
    const notFoundMsg = 'Nessun ordine trovato.'
    const table = document.getElementById("ordersTable");
    const row = document.getElementById('orderRow');

    getOrders.click(function( event ) {
        event.preventDefault();

        t = table.content.firstElementChild.cloneNode(true);

        $.getJSON("{% url 'order-bypartnumber' object.id %}").done(function( data ) {
            if (arrayIsEmpty(data)) {
                alert(notFoundMsg);
            } else {
                tbody = t.querySelector("tbody");

                data.forEach(function(el) {
                    const shipdate = new Date(el.shipdate).toLocaleDateString();

                    r = row.content.firstElementChild.cloneNode(true);
                    r.querySelector("a").textContent = el.coc_display;
                    r.querySelector("a").href = "/api/orders/" + el.coc;
                    r.cells[1].textContent = el.customer;
                    r.cells[2].textContent = el.status_display;
                    r.cells[3].textContent = el.quantity;
                    r.cells[4].textContent = shipdate;

                    tbody.appendChild(r);
                });
            }

            $( '#tableOrders' ).append(t);
        });
    });

    $('#updatePartnumber').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var formUrl = button.data('form-url'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        $.get(formUrl, function( ev ){
            console.log(ev);
        }).done(function( form ) {
            modal.find('.modal-body').html(form);
        }).fail(function( err ) {
            console.log(err);
        });
    });
});
</script>
{% endblock %}