{% extends "partnumbers/base_form.html" %}
{% block title %}GAP - Crea nuovo codice{% endblock %}
{% block form %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Crea nuovo codice</h3>
    </div>
    <div class="panel-body">
        <form method="POST">{% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                <span class="help-block">
                    {{ field.errors|escape }}
                </span>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Registra</button>
        </form>
    </div>
    <div class="panel-footer">
        Numero da usare per inserimento in database contapezzi: <b>{{ new_db_nr }}</b></div>
</div>
{% endblock %}