{% if object_list %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <caption>Lista codici - Posizione in magazzino</caption>
        <thead class="thead-dark">
            <tr>
                <th>Codice</th>
                <th>Categoria</th>
                <th>Area Prelievo</th>
                <th>Area Magazzino</th>
            </tr>
        </thead>
        <tbody>
        {% for p in object_list %}
            <tr data-partnumber="{{ p.sku }}">
                <td>{{ p.sku }}</td>
                <td>{{ p.category }}</td>
                <td>
                    {% for pg in p.picking_area %}
                    <ul class="list-inline">
                        <li class="list-inline-item">{{ forloop.counter }}.</li>
                        {% for p in pg %}
                        <li class="list-inline-item">{{ p }}</li>
                        {% endfor %}
                    </ul>
                    {% empty %}
                    Nessuna area prelievo presente.
                    {% endfor %}
                </td>
                <td>
                    {% for se in p.storage_area %}
                    <ul class="list-inline">
                        <li class="list-inline-item">{{ forloop.counter }}.</li>
                        {% for s in se %}
                        <li class="list-inline-item">{{ s }}</li>
                        {% endfor %}
                    </ul>
                    {% empty %}
                    Nessun magazzino presente.
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="lead text-center">Nessun codice presente.</p>
{% endif %}
<p>
    Nr. totale codici: {{ object_list.count }}
</p>