{% extends "index.html" %}
{% block title %}GAP - Lista Codici{% endblock %}
{% block main %}
<div class="row">
<div class="col">
<h3>Lista codici per contapezzi</h3>
{% if partnumbers_list %}
<div class="input-group mb-3 mt-3 w-50 d-print-none">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Cerca:</span>
    </div>
    <input type="search" id="partnumber-search" name="partnumber-search" class="form-control" placeholder="Codice ..." aria-label="Partnumber" aria-describedby="basic-addon1">
</div>
<div class="table-responsive">
    <table class="table table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Unità stock</th>
                <th>P.M.U. (g)</th>
            </tr>
        </thead>
        <tbody>
        {% for p in partnumbers_list %}
            <tr data-partnumber="{{ p.sku }}">
                <td>{% if p.db_nr >= 0%}{{ p.db_nr }}{% endif %}</td>
                <td>{{ p.sku }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.get_unit_display }}</td>
                <td>{% if p.pmu %}{{ p.pmu }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="lead text-center">Nessun codice presente.</p>
{% endif %}
    <p>
        Nr. totale codici: {{ partnumbers_list.count }}
    </p>
</div>
</div>
{% endblock %}
{% block page_script %}
<script>
    $(function() {
        $( "#partnumber-search" ).simpleFilter("tr", "partnumber");
    });
</script>
{% endblock %}
