{% extends "index.html" %}
{% block title %}GAP - Lista Lotti{% endblock %}
{% block content %}
<div class="row">
<div class="col">
<h3>Gestione passaggio sottoassiemi e componenti in area prelievo</h3>
<h4>Lista Lotti</h4>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
    </div>
    {% endfor %}
{% endif %}
<div class="btn-toolbar mb-2 mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-secondary" href="{% url 'lot_create' %}" role="button">
            <i class="bi bi-plus-lg"></i> Aggiungi</a>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="labelSearch"><i class="bi bi-search"></i></div>
            </div>
            <select id="selLotSearch" class="custom-select" style="width: 160px;"
                aria-label="Cerca lotto..." aria-describedby="labelSearch"
                data-ajax--url="{% url 'lot_list' %}"></select>
        </div>
</div>
{% if results %}
{% include "pagination.html" %}
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <caption>Lista Lotti</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Nr. Lotto</th>
                <th>Data consegna</th>
                <th>Data modifica</th>
            </tr>
        </thead>
        <tbody>
        {% for lot in results %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'lot_detail' lot.id %}">{{ lot.lot_display }}</a></td>
                <td>{{ lot.lot_date }}</td>
                <td>{{ lot.modified }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Nessun lotto presente.</p>
{% endif %}
<p>
    Totale Lotti: {{ count }}
</p>
</div>
</div>
{% endblock %}
{% block page_script %}
<script>
$(function() {
    var selectLotSearch = $( "#selLotSearch" );

    selectLotSearch.select2({
        placeholder: 'Cerca lotto...',
        theme: "bootstrap4",
        minimumInputLength: 1,
        ajax: {
            dataType: 'json',
            data: function (params) {
                var query = {
                search: params.term
                }
                return query;
            },
            processResults: function(data) {
                return {
                    results: $.map(data.results, function(obj) {
                        return {
                            id: obj.id,
                            text: obj.lot_display
                        };
                    })
                };
            }
        }
    });

    selectLotSearch.on('select2:select', function (e) { 
        const searchObj = $(this).find(':selected');
        var searchUrl = searchObj[0].baseURI + searchObj[0].value;
        history.pushState(e.params.data, 'title', searchUrl);
        history.go(0);
    });
});
</script>
{% endblock %}