{% extends "base_form.html" %}
{% block title %}GAP - Aggiorna lotto {{ object }}{% endblock %}
{% block form %}
<p>
    <a href="{% url 'lot_list' %}" class="btn btn-outline-secondary"> 
        <i class="bi bi-arrow-left"></i>
        Lotti</a>
</p>
<div class="card">
        <h5 class="card-header">Aggiorna lotto {{ object }}</h5>
    <div class="card-body">
        <form method="POST">{% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                <span class="help-block">
                    {{ field.errors|escape }}
                </span>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary"> 
                <i class="bi bi-arrow-left"></i>
                Registra
            </button>
        </form>
    </div>
</div>
{% endblock %}
{% block page_script %}
<script>
$(function() {
    $("#id_lot_date").flatpickr({
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        defaultDate: "{{ object.lot_date|date:"c" }}",
    });
});
</script>
{% endblock %}