{% extends "base_form.html" %}
{% block title %}GAP - Dettaglio Lotto {{ object }}{% endblock %}
{% block form %}
<p>
    <a href="{% url 'lot_list' %}" class="btn btn-default btn-sm"> 
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Lotti</a>
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dettaglio Lotto {{ object }}</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nr. Lotto</th>
                <th>Data Consegna</th>
                <th>Tipo di fornitore</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object.lot_number }}</td>
                <td>{{ object.lot_date|date }}</td>
                <td>{{ object.get_supplier_type_display }}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">Modificato: {{ object.modified|date }}</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Immissioni in Area Prelievo</h3>
    </div>
    {% if object.picking_set.exists %}
        <table class="table">
            <thead>
                <tr>
                    <th>Codice</th>
                    <th></th>
                    <th>Data</th>
                    <th>Operatore</th>
                </tr>
            </thead>
            <tbody>
                {% for p in object.picking_set.all %}
                <tr>
                    <td><a href="{% url 'partnumber_detail' p.partnumber.id %}">
                        {{ p.partnumber.sku }}</a></td>
                    <td>{{ p.partnumber.category }}</td>
                    <td>{{ p.picking_date|date }}</td>
                    <td>{{ p.picking_operator.first_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="panel-body">
        Nessun articolo immesso in area prelievo.
    </div>
    {% endif %}
</div>
{% endblock %}
{% block page_script %}
<script>
</script>
{% endblock %}