{% extends "index.html" %}
{% block content %}
<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h3>Gestione passaggio sottoassiemi e componenti in area prelievo</h3>
    <hr>
    <p>
        <a href="{% url 'picking_recents' %}" class="btn btn-default btn-sm"> 
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Movimenti</a>
    </p>
    {% block form %}
    {% endblock %}
</div>
{% endblock %}
{% block page_script %}
<script>
    const picker = datepicker('#id_picking_date', {
        formatter: (input, date, instance) => {
            const value = date.toLocaleDateString()
            input.value = value  // => '2099-01-01'
        },
        noWeekends: true
    });
</script>
{% endblock %}