{% extends "index.html" %}
{% block title %}GAP - Lista ultimi 20 movimenti{% endblock %}
{% block content %}
<div class="col-xs-12 col-md-10 col-md-offset-1">
<h3>Gestione passaggio sottoassiemi e componenti in area prelievo</h3>
<hr>
{% if pickings_list %}
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <caption>Ultimi 20 movimenti</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Codice</th>
                <th>Nr. Lotto</th>
                <th>Data immissione in area prelievo</th>
                <th>Operatore</th>
                <th>Data modifica</th>
            </tr>
        </thead>
        <tbody>
        {% for picking in pickings_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ picking.partnumber }}
                <a class="btn btn-default btn-xs pull-right hidden-print" href="{% url 'picking_update' picking.id %}" role="button">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                </td>
                <td>{{ picking.lot }}</td>
                <td>{{ picking.picking_date|date }}</td>
                <td>{{ picking.picking_operator.first_name }}</td>
                <td>{{ picking.modified|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Nessun movimento presente.</p>
{% endif %}
<a class="btn btn-default pull-right hidden-print" href="{% url 'picking_create' %}" role="button">
    Aggiungi
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</div>
{% endblock %}
