{% extends "base_form.html" %}
{% block title %}GAP - Modifica Movimento {% endblock %}
{% block form %}
    <p>
        <a href="{% url 'picking-list' %}" class="btn btn-outline-secondary"> 
            <i class="bi bi-arrow-left"></i>
            Movimenti</a>
    </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codice</th>
                    <th>Nr. Lotto</th>
                    <th>Data immissione in area prelievo</th>
                    <th>Operatore</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.partnumber }}</td>
                    <td>{{ object.lot }}</td>
                    <td>{{ object.picking_date|date }}</td>
                    <td>{{ object.picking_operator.first_name }}</td>
                </tr>
            </tbody>
        </table>

    <div class="card">
        <h5 class="card-header">Modifica</h5>
        <div class="card-body">
            <form action="{% url 'picking_update' object.id %}" method="POST">{% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    <small id="" class="form-text text-muted">
                        {{ field.errors|escape }}
                    </small>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i>
                    Registra</button>
            </form>
        </div>
    </div>

{% endblock %}
{% block page_script %}
<script>
$(function() {
    $("#id_picking_date").flatpickr({
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        defaultDate: "{{ object.picking_date|date:"c" }}",
    });
});
</script>
{% endblock %}