{% extends "base_form.html" %}
{% block title %}GAP - Inserisci nuovo movimento{% endblock %}
{% block form %}
    <p>
        <a href="{% url 'picking-list' %}" class="btn btn-outline-secondary"> 
            <i class="bi bi-arrow-left"></i>
            Movimenti</a>
    </p>
    {% if view.kwargs.pn_id %}
    <a href="{% url 'lot_create_pn' view.kwargs.pn_id %}" class="btn btn-outline-primary">
        Aggiungi lotto...
    </a>
    {% endif %}
<div class="card mt-3">
    <h5 class="card-header">Inserisci nuovo movimento</h5>
    <div class="card-body">
        <form method="POST">{% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                <small id="" class="form-text text-muted">
                    {{ field.errors|escape }}
                </small>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i>
                Registra</button>
        </form>
    </div>
</div>
{% endblock %}
{% block page_script %}
<script>
$(function() {
    $("#id_picking_date").flatpickr({
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
    });

    const partnumberFormSearch = $("#id_partnumber");
    const lotFormSearch = $("#id_lot");

    partnumberFormSearch.select2({
        placeholder: "Cerca codice...",
        minimumInputLength: 2,
        theme: "bootstrap4",
        ajax: {
            url: "{% url 'partnumber-list' %}",
            dataType: 'json',
            data: function (params) {
                var query = {
                  search: params.term
                }
                return query;
            },
            processResults: function(data) {
                return {
                    results: $.map(data.results, function(obj) {
                        return {
                            id: obj.id,
                            text: obj.sku
                        };
                    })
                };
            }
        }
    });

    lotFormSearch.select2({
        placeholder: "Cerca lotto...",
        minimumInputLength: 1,
        theme: "bootstrap4",
        ajax: {
            url: "{% url 'lot_list' %}",
            dataType: 'json',
            data: function (params) {
                var query = {
                  search: params.term
                }
                return query;
            },
            processResults: function(data) {
                return {
                    results: $.map(data.results, function(obj) {
                        return {
                            id: obj.id,
                            text: obj.lot_display
                        };
                    })
                };
            }
        }
    });
});
</script>
{% endblock %}
