{% extends "main_content.html" %}
{% block title %}GAP - Crea nuovo codice{% endblock %}
{% block content %}

<div class="card mb-3">
    <h5 class="card-header">Crea nuovo codice</h5>
    <div class="card-body" id="partnumber-form">
        {% include 'partnumber_unbound_form.html' %}
    </div>
    <div class="card-footer">
        Numero da usare per inserimento in database contapezzi: <b>{{ new_db_nr }}</b><br>
        Numeri liberi:
        {% for n in db_free_nr %}
            {{ n }}
        {% endfor %}
    </div>
</div>
{% endblock %}