{% extends "main_content.html" %}
{% block title %}GAP - Inserisci nuovo movimento{% endblock %}
{% block content %}
<div class="card">
    <h5 class="card-header">Inserisci nuovo movimento</h5>
    <div class="card-body">
        <form method="POST">{% csrf_token %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ form.partnumber.label_tag }}
                {{ form.partnumber }}
                <small class="form-text text-muted">
                    {{ form.partnumber.errors|escape }}
                </small>
            </div>
            <div class="form-row">
                <div class="form-group {% if field.errors %}has-error{% endif %} col-md-6">
                    {{ form.lot.label_tag }}
                    {{ form.lot }}
                    <small class="form-text text-muted">
                        {{ form.lot.errors|escape }}
                    </small>
                    <span>
                        {% if view.kwargs.pn_id %}
                        <a href="{% url 'lot_create_pn' view.kwargs.pn_id %}" class="btn btn-outline-primary">
                        Aggiungi lotto...</a>
                        {% endif %}
                    </span>
                </div>
                <div class="form-group col-md-6">
                    {{ form.year.label_tag }}
                    {{ form.year }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group {% if field.errors %}has-error{% endif %} col-md-6">
                    {{ form.picking_date.label_tag }}
                    {{ form.picking_date }}
                    <small class="form-text text-muted">
                        {{ form.picking_date.errors|escape }}
                    </small>
                </div>
                <div class="form-group {% if field.errors %}has-error{% endif %} col-md-6">
                    {{ form.picking_operator.label_tag }}
                    {{ form.picking_operator }}
                    <small class="form-text text-muted">
                        {{ form.picking_operator.errors|escape }}
                    </small>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i>
                Registra</button>
        </form>
    </div>
</div>
{% endblock content %}
{% block page_script %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(function() {
    const partnumberFormSearch = $("#id_partnumber");
    const lotFormSearch = $("#id_lot");
    const yearFormField = $("#id_year").addClass("form-control");
    var urlLotSearch = "{% url 'lot_filtered' %}";

    partnumberFormSearch.select2({
        placeholder: "Cerca codice...",
        minimumInputLength: 2,
        theme: "bootstrap4",
        ajax: {
            url: "{% url 'partnumber-list' %}",
            dataType: 'json',
            data: function (params) {
                var query = {
                  search: params.term
                }
                return query;
            },
            processResults: function(data) {
                return {
                    results: $.map(data.results, function(obj) {
                        return {
                            id: obj.id,
                            text: obj.sku
                        };
                    })
                };
            }
        }
    }).on("change", function(e) {
        lotFormSearch.prop("disabled", false);
    });

    lotFormSearch.select2({
        placeholder: "Cerca lotto...",
        minimumInputLength: 1,
        theme: "bootstrap4",
        ajax: {
            url: function() {
                return urlLotSearch + partnumberFormSearch.val()
            },
            dataType: 'json',
            data: function (params) {
                const year = new Date().getFullYear();
                // search by lot number
                var query = {
                  lot_number__contains: params.term,
                  lot_date__year__gte: yearFormField.val(),
                  page: params.page || 1,
                  page_size: 50
                }
                return query;
            },
            processResults: function(data) {
                data.results.sort(function(a, b) {
                    const supplier_typeA = a.supplier_type.toUpperCase(); // ignore upper and lowercase
                    const supplier_typeB = b.supplier_type.toUpperCase(); // ignore upper and lowercase
                    if (supplier_typeA < supplier_typeB) {
                        return -1;
                    }
                    if (supplier_typeA > supplier_typeB) {
                        return 1;
                    }

                    // supplier_types must be equal
                    return 0;
                });
                var groupedResults = {};
                data.results.forEach(function(obj) {
                    if (groupedResults.hasOwnProperty(obj.supplier_type_display)) {
                        groupedResults[obj.supplier_type_display].push(obj);
                    } else {
                        groupedResults[obj.supplier_type_display] = [
                            obj
                        ];
                    }
                });
                return {
                    results: $.map(Object.entries(groupedResults), function(el) {
                        return {
                            text: el[0], children: el[1]
                        };
                    }),
                    pagination: {
                        more: data.next != null
                    }
                };
            }
        }
    }).prop(
        "disabled", true
    );

    if ("{{ view.kwargs.pn_id }}") {
        lotFormSearch.prop("disabled", false);
    }
});
</script>
{% endblock %}
