{% extends "main_content.html" %}
{% block title %}GAP - Inserisci nuovo movimento{% endblock %}
{% block content %}
<div class="card shadow-sm border">
    <h5 class="card-header">Inserisci nuovo movimento</h5>
    <div class="card-body">
        <form method="POST">{% csrf_token %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ form.partnumber.label_tag }}
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    </div>
                    {% if view.kwargs.pn_id %}
                    {{ form.partnumber }}
                    <input type="hidden" name="partnumber" value="{{ form.partnumber.value }}" required readonly>
                    {% else %}
                    <input type="text" name="sku-icontains" class="form-control"
                        placeholder="Cerca codice..."
                        hx-get="{% url 'partnumber-select-options' %}"
                        hx-trigger="keyup changed delay:0.5s"
                        hx-target="#id_partnumber"
                        hx-push-url="false">
                    <select class="custom-select" id="id_partnumber" name="partnumber">
                        <option>Cerca un codice.</option>
                    </select>
                    {% endif %}
                </div>
                <small class="form-text text-muted">
                    {{ form.partnumber.errors|escape }}
                </small>
            </div>
            <div class="form-row">
                <div class="col-md-3 form-group">
                    {{ form.supplier_type.label_tag }}
                    {{ form.supplier_type }}
                </div>
                <div class="col-md-6 form-group {% if field.errors %}has-error{% endif %}">
                    {{ form.lot.label_tag }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-search"></i></span>
                        </div>
                        {% if view.kwargs.lot_id %}
                            {{ form.lot }}
                            <input type="hidden" name="lot" value="{{ form.lot.value }}" required readonly>
                        {% else %}

                        <input type="number" name="lot_number" class="form-control"
                            placeholder="Cerca nr. lotto..."
                            hx-get="{% url 'lot_list' %}"
                            hx-headers='{"template": "lot_options"}'
                            hx-include="[name='supplier_type'],[name='lot_number'],[name='year']"
                            hx-trigger="change delay:0.3s,keyup changed delay:0.5s,change from:#id_year"
                            hx-target="#id_lot"
                            hx-push-url="false">
                        <select class="custom-select" id="id_lot" name="lot">
                            <option>Cerca un lotto.</option>
                        </select>
                        {% endif %}
                    </div>
                    <small class="form-text text-muted">
                        {{ form.lot.errors|escape }}
                    </small>
                    <span>
                        {% if view.kwargs.pn_id %}
                        <a href="{% url 'lot_create_pn' view.kwargs.pn_id %}" class="btn btn-outline-primary">
                        Aggiungi lotto...</a>
                        {% endif %}
                    </span>
                </div>
                <div class="form-group col-md-3">
                    {{ form.year.label_tag }}
                    {{ form.year }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group {% if field.errors %}has-error{% endif %} col-md-6">
                    {{ form.picking_date.label_tag }}
                    {{ form.picking_date }}
                    <small class="form-text text-muted">
                        {{ form.picking_date.errors|escape }}
                    </small>
                </div>
                <div class="form-group {% if field.errors %}has-error{% endif %} col-md-6">
                    {{ form.picking_operator.label_tag }}
                    {{ form.picking_operator }}
                    <small class="form-text text-muted">
                        {{ form.picking_operator.errors|escape }}
                    </small>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i>  Registra</button>
        </form>
    </div>
</div>
{% endblock content %}
{% block page_script %}
<script>
$(function() {
    const partnumberFormSearch = $("#id_partnumber");
    const lotFormSearch = $("[name='lot_number']");
    const supplierType = $("#id_supplier_type");
    const yearFormSearch = $("#id_year");
    const idLot = $("#id_lot");

    function updateSupplierTypeForm() {
        supplierType.prop("disabled", false);
        // Update supplier_type select
        htmx.ajax("GET",
            "{% url 'partnumber-valid-supplier' %}", 
            {
                target:"#id_supplier_type",
                swap:"innerHTML",
                values: {"partnumber-id": partnumberFormSearch.val()}
            }).then(() => {
                lotFormSearch.prop("disabled", false);
                yearFormSearch.prop("disabled", false);
                idLot.prop("disabled", false);
            });
    }

    lotFormSearch.prop("disabled", true);
    yearFormSearch.prop("disabled", true);
    supplierType.prop("disabled", true);
    idLot.prop("disabled", true);

    {% if not view.kwargs.lot_id %}
    htmx.on("searchSkuCompleted", (evt) => {
        if (evt.type == "searchSkuCompleted") {
            updateSupplierTypeForm();
        }
    });
    {% endif %}

    if ("{{ view.kwargs.pn_id }}") {
        partnumberFormSearch.prop("disabled", true);
        updateSupplierTypeForm();
    }

    if ("{{ view.kwargs.lot_id }}") {
        supplierType.prop("disabled", true);
        yearFormSearch.prop("disabled", true);
        idLot.prop("disabled", true);
    }
});
</script>
{% endblock %}
