{% extends 'index.html' %}
{% load static %}
{% block title %}GAP - Logged out{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock style %}
{% block generic %}
<main role="main" class="container">
    <div class="row">
    <form role="form" id="form-login" class="form-signin" method="post" action="{% url 'logout' %}">{% csrf_token %}
        <img class="mb-4" src="/static/images/logo_w.png" alt="" width="148" height="96">
        <h1 class="h3 mb-3 font-weight-normal">Logged out.</h1>
        <a class="btn btn-primary" href="{% url 'login' %}" data-bypass>Login again.</a>
    </form>
    </div>
</main>
{% endblock generic %}
