#!/bin/bash
./manage.py dumpdata partnumbers --natural-foreign --natural-primary -e contenttypes -e auth.Permission --indent 2 > ./partnumbers/fixtures/partnumbers.json
./manage.py dumpdata inspections --natural-foreign --natural-primary -e contenttypes -e auth.Permission --indent 2 > ./inspections/fixtures/inspections.json
./manage.py dumpdata pickings --natural-foreign --natural-primary -e contenttypes -e auth.Permission --indent 2 > ./pickings/fixtures/pickings.json
./manage.py dumpdata orders --natural-foreign --natural-primary -e contenttypes -e auth.Permission --indent 2 > ./orders/fixtures/orders.json
./manage.py dumpdata warehouse --natural-foreign --natural-primary -e contenttypes -e auth.Permission --indent 2 > ./warehouse/fixtures/warehouse.json
