#!/bin/bash
# this commands will load fixtures from each folder named 'fixtures' and contained in every app folder
./manage.py loaddata partnumbers
./manage.py loaddata inspections
./manage.py loaddata orders
./manage.py loaddata warehouse
./manage.py loaddata pickings
